{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}
    Password reset
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken}) %}
    {% autoescape %}
        <h3>Hello {{ user.username }}</h3>

        To reset your password - please visit {{ url|raw }}
        <br/><br/>
        Regards, the Team.
    {% endautoescape %}
{% endblock %}

{% block body %}
  {% include '@SyliusShop/Email/layout.html.twig' %}
{% endblock %}
