{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<h2>"404 Not Found".</h2>

<div>
  Page non trouvée, <a href="{{ url('sylius_shop_homepage') }}">cliquez ici pour retourner à l'accueil</a>
</div>
{% endblock %}
