@import "_font-awesome.scss";
@import "_variables.scss";

#intro {
  #sous-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  > img {
    width: 100%;
    margin-bottom: 40px;
  }

  .text, div.photo {
    display: inline-block;

    img {
      width: 100%;
    }

    h1 {
      font-size: 2.2em;
      text-transform: uppercase;
    }

    a {
      font-size: 2.2em;
      line-height: 1em;
      text-transform: uppercase;
    }

    small {
      font-size: 1em;
    }
  }

  .text {
    align-self: flex-end;
    width: 34%;

    a {
      display: block;
      margin-top: 20px;
    }
  }

  div.photo {
    width: 65%;
  }
}

#menu > div.menu > div.cart > div.list .item{
  color: inherit;
}
