@import "_font-awesome.scss";
@import "_variables.scss";

#intro {
  #sous-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  > img {
    width: 100%;
    margin-bottom: 40px;
  }

  .text, div.photo {
    display: inline-block;

    img {
      width: 100%;
    }

    h1 {
      font-size: 2.2em;
      text-transform: uppercase;
    }

    a {
      font-size: 2.2em;
      line-height: 1em;
      text-transform: uppercase;
    }

    small {
      font-size: 1em;
    }
  }

  .text {
    align-self: flex-end;
    width: 34%;

    a {
      display: block;
      margin-top: 20px;
    }
  }

  div.photo {
    width: 65%;
    align-self: flex-end;
  }
}

#menu > div.menu > div.cart > div.list .item{
  color: inherit;
}

.desc-cadre, .desc-livraison {
  margin-top: 30px;
  padding-bottom: 30px;

  h2 {

  }

  img {
    width: 100%;
  }

  p {
    display: inline-block;
  }
}

.desc-cadre {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.changepage {
  position: absolute;
  top: 52.3%;

  &.prev {
    left: -5%;
  }

  &.next {
    right: -5%;
  }

  &.disabled {
    opacity: 0.5;
  }
}

@import "_responsive.scss";