<div class="ui bottom attached tab segment active" data-tab="details">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_details', {'product': product}) }}

    {% if product.description is not empty %}
        {{ product.description }}
    {% else %}
        {{ 'sylius.ui.no_description'|trans }}.
    {% endif %}

    <div class="desc-cadre">
        <h2>Cadre</h2>
        <img src="{{ asset('images/caisse.jpg') }}" alt="Caisse américaine">
        <p> Avec l'option "cadre", l'oeuvre est encadrée dans une caisse américaine blanche comme sur les photos ci-jointes.</p>
    </div>

    <div class="desc-livraison">
        <h2>Livraison</h2>
        <p>La livraison ne se fait qu'en <b>France Métropolitaine</b>. Délai de livraison : 8 jours ouvrables.</p>
    </div>

</div>
